# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production build
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS-specific
.AppleDouble
.LSOverride

# Windows-specific
Thumbs.db
ehthumbs.db
Desktop.ini

# parcel-bundler cache (if used)
/.cache

# eslint cache
.eslintcache
